<div class="top-window">
    <div class="card-title">
        <h1>Eat like a local</h1>
        <h4>{{allRestaurantsByCity.0.city}}</h4>

    </div>
    {{!-- {{> navbarpublic}} --}}
    <nav>
        <a id="navbar" href="/">Home</a>
        <a id="navbar" href="/restaurant">All restaurants</a>
        <a id="navbar" href="/auth/signin">Sign in</a>
    </nav>
</div>

{{#each allRestaurantsByCity}}
<div class="card-resto">
    <div>
        <img class="resto-image" src="{{this.picture}}">
    </div>

    <div class="resto-text">
        <h3>{{this.name}}</h3>
        <p>{{this.city}}</p>
        <p>{{this.genre}}</p>
        <p>Recommended by {{this.user.firstname}}</p>
        <p>Added on {{formatDate this.createdAt}}</p>
        <a href="/restaurant/{{this.id}}">See more details</a>
    </div>
</div>
{{/each}}

{{!-- {{>footersignup}} --}}

<div class="footer-signup">
    <p>Are you a local and would love to recommend ? Join our community and share with us your best spots !
        <strong><a href="/auth/signup">Sign up !</a></strong>

    </p>
</div>