{{>navbarpublic}}

<h1>{{name}}</h1>
{{!-- <img src="{{this.picture}}" alt="picture of {{this.name}}"> --}}
<p>
  Cuisine type :{{genre}}.
  <br>
  Official website is : <a href="http://{{website}}">{{website}}</a>
  <br>
  Address:
  {{streetname}}

  <br>
  Description : {{description}}
  <br>
  Price range : {{price}}

</p>