<div class="top-window">
  <div class="card-title">
    <h1>Eat like a local</h1>
    <h4>Your comments <i class="fa fa-heart"></i> </h4>
  </div>
  {{!-- {{> navbardash}} --}}
  <nav>
    <a href="/myprofile">Home</a>
    <a href="/myprofile/dashboard/create">Add a resto</a>
    <a href="/myprofile/dashboard">My recommendations</a>
    <a href="/myprofile/dashboard/comment">My comments</a>

    <form id="logout-form" action="/auth/signout" method="POST">
      <button>Sign out</button>
    </form>
  </nav>
</div>

<div>
  <h1>Your comments</h1>
  {{#each allComments}}
  <p>{{this.restaurant}} : {{this.comment}} Added on: {{formatDate this.createdAt}} </p>
  <a href="/myprofile/dashboard/comment/edit/{{this._id}}" class="fa fa-pen"></a>
  <a href="/myprofile/dashboard/comment/edit/{{this._id}}" class="fa fa-trash"></a>
  {{/each}}
</div>