<div class="top-window">
    <div class="card-title">
        <h1>Eat like a local</h1>
        <h4>Update com </h4>
    </div>
    {{!-- {{> navbardash}} --}}
    <nav>
        <a href="/myprofile">Home</a>
        <a href="/myprofile/dashboard/create">Add a resto</a>
        <a href="/myprofile/dashboard">My recommendations</a>
        <a href="/myprofile/dashboard/comment">My comments</a>

        <form id="logout-form" action="/auth/signout" method="POST">
            <button>Sign out</button>
        </form>
    </nav>
</div>

{{!-- <p>{{restaurant.name}} : Added on: {{commentUpdate.createdAt}} </p> --}}
{{!-- <p>Update your comment posted on {{formatDate commentUpdate.createdAt}} for {{commentUpdate.restaurant.name}}</p>
--}}

<form method="post" action="/myprofile/dashboard/comment/edit/{{commentUpdate._id}}" class="form">
    <label for="comment" class="label">
        <p>Update your comment posted on {{formatDate commentUpdate.createdAt}} for {{commentUpdate.restaurant.name}}
        </p>
    </label>
    <textarea name="comment" id="comment" cols="75" rows="3" value="{{commentUpdate.comment}}"></textarea>

    {{!-- <input class="input com-edit" type="text" id="comment" name="comment" value=""
        placeholder={{commentUpdate.comment}}> --}}

    <button class="btn-form">Update</button>

</form>