<div class="top-window">
    <div class="card-title">
        <h1>Eat like a local</h1>
        <h3>Your spots <i class="fa fa-heart"></i> </h3>
    </div>
    {{!-- {{> navbardash}} --}}
    <nav>
        <a href="/myprofile">Home</a>
        <a href="/myprofile/dashboard/create">Add a resto</a>
        <a href="/myprofile/dashboard">My recommendations</a>
        <a href="/myprofile/dashboard/comment">My comments</a>

        <form id="logout-form" action="/auth/signout" method="POST">
            <button>Sign out</button>
        </form>
    </nav>
</div>

{{#unless allRestaurants.length}}
<div class="no-reco">
    <p>No recommendations yet. Share your best spots !</p>
</div>
{{/unless}}

<div class="dash-reco">
    {{#each allRestaurants}}
    <div class="card-resto">
        <div class="resto-image">
            <img class="resto-image" src="{{this.picture}}" alt="picture of {{this.name}}">
        </div>

        <div class="resto-text">
            <h3>{{this.name}}</h3>



            <p>{{this.city}}</p>
            <p>{{this.genre}}</p>
            <p>Added by you on {{formatDate this.createdAt}}</p>
            <a href="/myprofile/restaurant/{{this.id}}">See more details</a>
            <div class="manage-reco">
                <a href="/myprofile/dashboard/delete/{{this._id}}"><i class="fa fa-trash"></i></a>
                <a href="/myprofile/dashboard/update/{{this._id}}"><i class="fa fa-edit"></i></a>
            </div>
        </div>
    </div>
    {{/each}}
</div>