<h1>Eat like a local</h1>

{{> navbarprivate}}


<div>
    <p>Going on a trip and tired of tourist traps ? <br> We can help you find a perfect place to eat as recommended by
        the local community !
    </p>

    <br>

    <form>
        <input type="search" placeholder="Where are you going ?" aria-label="Search">
        <button type="submit">Search</button>
    </form>

    <br>

    <p>Latest recommendations</p>

    {{#each twoRestaurants}}
    <div class="card-resto">
        <div class="resto-image">
            {{!-- <img src="{{this.picture}}" alt="picture of {{this.name}}"> --}}
        </div>

        <div class="resto-text">
            <h3>{{this.name}}</h3>
            <p>{{this.city}}</p>
            <p>{{this.genre}}</p>
            <p>Recommended by {{this.user.firstname}}</p>
            <p>Added on {{formatDate this.createdAt}}</p>
            <a href="/myprofile/restaurant/{{this.id}}">See more details</a>
        </div>
    </div>
    {{/each}}