<h1>Your comments</h1>
{{> navbardash }}

{{!-- <nav>
  <a href="/myprofile">Home</a>
  <a href="/myprofile/dashboard/create">Add a resto</a>
  <a href="/myprofile/dashboard">My recommendations</a>
  <a href="/myprofile/dashboard/comment">My comments</a>

  <form id="logout-form" action="/auth/signout" method="POST">
    <button>Sign out</button>
  </form>
</nav> --}}

<div>

  {{#unless allComments.length}}
  <p>You didn't post comments yet. Don't be shy !</p>
  {{/unless}}

  {{#each allComments}}

  <p>{{this.restaurant.name}} : {{this.comment}} Added on: {{formatDate this.updatedAt}} </p>

  <a href="/myprofile/dashboard/comment/edit/{{this._id}}" class="fa fa-pen"></a>

  <a href="/myprofile/dashboard/comment/delete/{{this._id}}" class="fa fa-trash"></a>

  {{/each}}

</div>