{{> navbarprivate}}

<div>

  <h1>Your comments</h1>

  {{#each allComments}}

  <p>{{this.restaurant}} : {{this.comment}} Added on: {{this.timestamps}} </p>

  <a href="/myprofile/dashboard/comment/edit/{{this._id}}" class="fa fa-pen"></a>

  <a href="/myprofile/dashboard/comment/delete/{{this._id}}" class="fa fa-trash"></a>

  {{/each}}

</div>