<h1>One resto for signed in user</h1>

{{> navbarprivate}}

<h1>{{name}}</h1>
{{!-- <img src="{{this.picture}}" alt="picture of {{this.name}}"> --}}
<p>
    Cuisine type :{{genre}}.
    <br>
    Official website is : <a href="http://{{website}}">{{website}}</a>
    <br>
    Address:
    {{streetname}}
    <br>
    Description : {{description}}
    <br>
    Price range : {{price}}

</p>

<p>Should display all the previous comments on this id resto</p>

<form method="post" action="/myprofile/dashboard/comment/create">
    <label for="comment"></label>
    <input id="comment" name="comment" type="textarea" placeholder="Write your comment">
    <label for="restaurant" class="label">restaurant</label>
    <input class="input" type="text" id="restaurant" name="restaurant" value={{_id}}>
    {{!-- <label for="author" class="label">author</label>
    <input class="input" type="text" id="author" name="author" value={{req.session.currentUser._id}}> --}}
    <button>Share</button>
</form>