<div class="top-window">
    <div class="card-title">
        <h1>Eat like a local</h1>
        <h3>Some details</h3>
    </div>
    {{!-- {{> navbarprivate}} --}}
    <nav>
        <a href="/myprofile">Home</a>
        <a href="/myprofile/restaurant">All restaurants</a>
        <a href="/myprofile/dashboard">My profile</a>
        <form id="logout-form" action="/auth/signout" method="POST">
            <button>Sign out</button>
        </form>
    </nav>
</div>

<h1>{{name}}</h1>

<img class="resto-image" src="./images/vietnam1.jpg">

<p>
    Cuisine type :{{genre}}.
    <br>
    Official website is : <a href="http://{{website}}">{{website}}</a>
    <br>
    Address:
    {{streetname}}
    <br>
    Description : {{description}}
    <br>
    Price range : {{price}}
    <br>
    Recommended by {{this.user.firstname}} on {{formatDate this.createdAt}}

</p>

<h4>Add a comment</h2>

    <form method="post" action="/myprofile/dashboard/comment/create/{{_id}}">
        <label for="comment"></label>
        <input id="comment" name="comment" type="textarea" placeholder="Write your comment">
        <button>Share</button>
    </form>

    <h4>What our community think about this restaurant</h2>


        {{#each comment}}
        {{this.comment}} by {{this.author.firstname}} on {{formatDate this.createdAt}}
        <br>
        {{/each}}

        </p>