<h1>One resto for signed in user</h1>

{{> navbarprivate}}

<h1>{{name}}</h1>
<img src="{{this.picture}}" alt="picture of {{this.name}}">
<p>
    Cuisine type :{{genre}}.
    <br>
    Official website is : <a href="http://{{website}}">{{website}}</a>
    <br>
    Address:
    {{streetname}}
    <br>
    Description : {{description}}
    <br>
    Price range : {{price}}
    <br>
    Recommended by {{this.user.firstname}} on {{formatDate this.createdAt}}

</p>

<h4>Add a comment</h2>

    <form method="post" action="/myprofile/dashboard/comment/create/{{_id}}">
        <label for="comment"></label>
        <input id="comment" name="comment" type="textarea" placeholder="Write your comment">
        <button>Share</button>
    </form>

    <h4>What our community think about this restaurant</h2>


        {{#each comment}}
        {{this.comment}} by {{this.author.firstname}} on {{formatDate this.createdAt}}
        <br>
        {{/each}}

        </p>