<div class="top-window">
  <div class="card-title">
    <h1>Eat like a local</h1>
    <h4>Update spot</h4>
  </div>
  {{!-- {{> navbardash}} --}}
  <nav>
    <a href="/myprofile">Home</a>
    <a href="/myprofile/dashboard/create">Add a resto</a>
    <a href="/myprofile/dashboard">My recommendations</a>
    <a href="/myprofile/dashboard/comment">My comments</a>

    <form id="logout-form" action="/auth/signout" method="POST">
      <button>Sign out</button>
    </form>
  </nav>
</div>



<form method="post" action="/myprofile/dashboard/update/{{restaurantUpdate._id}}" class="form"
  enctype="multipart/form-data">
  <h1 class="title">Update a spot</h1>
  <label for="name" class="label">Name</label>
  <input class="input" type="text" id="name" name="name" value="{{restaurantUpdate.name}}">
  <label for="streetname" class="label">Address</label>
  <input class="input" type="text" id="streetname" name="streetname" value="{{restaurantUpdate.streetname}}">
  <label for="city" class="label">City</label>
  <input class="input" type="text" id="city" name="city" value="{{restaurantUpdate.city}}">
  <label for="country" class="label">Country</label>
  <input class="input" type="text" id="country" name="country" value="{{restaurantUpdate.country}}">
  <label for="website" class="label">website link</label>
  <input class="input" type="text" id="website" name="website" value="https://www.daroco.fr/restaurant/daroco-bourse">
  <label for="description" class="label">Tell us why you love this place !</label>
  {{!-- <input class="input" type="text" id="description" name="description" value="Good food and lovely design"> --}}
  <textarea name="description" id="description" cols="30" rows="3" value="{{restaurantUpdate.description}}"></textarea>
  <label for="genre" class="label">Genre</label>
  <input class="input" type="text" id="genre" name="genre" value="{{restaurantUpdate.genre}}">
  <label for="price" class="label">Price</label>
  <input class="input" type="text" id="price" name="price" value="{{restaurantUpdate.price}}">
  <label for="picture" class="label">
    Choose a picture
    <i class="icon fas fa-cloud-upload-alt fa-2x"></i>
  </label>
  <input class="is-hidden" type="file" id="picture" name="picture">
  <button class="btn-form">Update</button>
</form>